video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 80px;

}

.hero-container{
    /* background: url('image/img-home.jpg') center center/cover
    no-repeat; */
    height: 100vh;
    justify-content: center;
    width: 100wh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 100px rgba(0, 0, 0.2s);
    object-fit: contain;
    
}

.text{
    padding-top: 5%;
    position: absolute;
    align-items: center;
    text-align: center;
    color: white;
}

.text > h1{
    color: white;
    font-size: 100px;
    margin-top: -280px;
}

.text > p {
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero-btns{
    margin-top: 32px;
}

.hero-btns .btns{
    margin: 16px;
}

.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px) {.text > h1{
    color: white;
    font-size: 70px;
    margin-top: -150px;
 }
}

@media screen and (max-width: 760px) {
.text > h1{
    font-size: 50px;
    margin-top: -100px;
}
.text > p {
    font-size: 30px;
}
.btn-mobile{
    display: block;
    text-decoration: none;
    margin: 20px;
    
}
.text > btns1{
    background-color: red;
}
.btn{
    width: 100%;
 }
}